<a href="https://colab.research.google.com/github/mohitsingh07/FAKE-NEWS-DETECTOR/blob/main/fakesnews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file = "/content/drive/MyDrive/eda /train.csv"

In [ ]:
df = pd.read_csv(file)
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [ ]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [ ]:
df.shape

(20800, 5)

In [ ]:
df1 =df.dropna

In [ ]:
df1.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [ ]:
X = df['text']
y = df['label']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size= 0.3)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(X_train.values.astype('str'))
xv_test = vectorization.transform(X_test.values.astype('str'))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [ ]:
pred_dt = DT.predict(xv_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88      3152
           1       0.88      0.88      0.88      3088

    accuracy                           0.88      6240
   macro avg       0.88      0.88      0.88      6240
weighted avg       0.88      0.88      0.88      6240